body {
    background-color: darkslategray;
}
#container{
    background-color: grey; 
    width: 1200px; 
    margin: 20px auto; 
    border: 2px solid black; 
    padding: 20px;
}
nav {
    text-align: center;
    margin: 20px 0;
}
nav a {
    font-size: 24px;
color: darkslategray;
margin: 0 15px;
font-weight: bold;
}
nav a:hover {
    text-decoration: none;
}
img {
    display: block;
margin: 0 auto;
width: 400px;
}
h1,h2,h3,footer
{text-align: center;
}
